{{- $params := .Page.Params | merge .Site.Params.Page | merge (dict "author" .Site.Params.author) -}}
<item turbo="true">
    <title>
        {{- .Title -}}
    </title>
    <link>
        {{- .Permalink -}}
    </link>
    <pubDate>
        {{- .Date.Format "Mon, 02 Jan 2006 15:04:05 -0700"  -}}
    </pubDate>
    <author>
        {{- $params.author | default "Неизвестный автор" -}}
    </author>
    <guid>
        {{- .Permalink -}}
    </guid>
    <description>
        <turbo:content>
            {{- "<![CDATA[" | safeHTML -}}
            {{- with $params.featuredimage -}}
                <div class="featured-image">
                    <img src="{{ . | relURL }}" referrerpolicy="no-referrer">
                </div>
            {{- end -}}
            {{- $content := .Description -}}
            {{- if $params.rssFullText -}}
                {{- $content = dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
            {{- else -}}
                {{- with .Summary -}}
                    {{- $content = dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" -}}
                {{- end -}}
            {{- end -}}
            {{- $content | replaceRE `<figure[^>]*>.*</figure>` "" | replaceRE `<img[^>]*( /)?>` "" | safeHTML -}}
            {{- "]]>" | safeHTML -}}
        </turbo:content>
    </description>
</item>
